<div class="new-password-wrapper">
  <div class="new-password-container">
    <div class="new-password-left">
      <div class="new-password-content">
        <img src="/images/logo.png" alt="Pills Icon" class="pills-icon" />
        <h1>Crear Nueva Contraseña</h1>
        <p>
          Para tu seguridad, crea una nueva contraseña distinta a las que has usado anteriormente.
        </p>

        <div class="new-password-form">
          <input
            type="password"
            placeholder="Nueva Contraseña"
            [(ngModel)]="newPassword"
          />
          <input
            type="password"
            placeholder="Confirmar Nueva Contraseña"
            [(ngModel)]="confirmPassword"
          />

          <button (click)="resetPassword()">Restablecer Contraseña</button>
        </div>
      </div>
    </div>

    <div class="new-password-right">
      <img src="/images/FotoMediTime.png" alt="Nurse with patient" />
    </div>
  </div>
</div>
