<div class="reset-wrapper">
  <div class="reset-container">
    <div class="reset-left">
      <div class="reset-content">
        <img src="/images/logo.png" alt="Pills Icon" class="pills-icon" />
        <h1>Restablecer contraseña</h1>
        <p>
          No te preocupes. Ingresa la dirección de correo electrónico asociada a tu cuenta.
        </p>

        <div class="reset-form">
          <input
            type="email"
            id="email"
            placeholder="Email"
            [(ngModel)]="email"
          />

          <button (click)="sendResetLink()">Enviar Código</button>
        </div>
      </div>
    </div>

    <div class="reset-right">
      <img src="/images/FotoMediTime.png" alt="Nurse with patient" />
    </div>
  </div>
</div>
